body {
    margin: 0;
}

.export-button {
    transition: background-color 0.2s ease-in-out;
    border: 1px solid darkgray;
    border-radius: 6px;
}

.export-button:hover {
    transition: background-color 0.2s ease-in-out;
    background: darkgray;
    border: 1px solid darkgray;
    border-radius: 6px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.p-treenode-toggler {
    font-size: 1.2rem;
    color: #333;
}
